__pycache__
__pycache__/*
fixed-length-fingerprint-extractors-main
*.md
!README.md
*.zip
*.tar.gz
*.pdf
*.txt
exp0_baseline/checkpoints/*
exp0_baseline/models/*
exp0_baseline/results/*.csv
exp1_representacao_aumentada/checkpoints/*
exp1_representacao_aumentada/models/*
exp1_representacao_aumentada/results/*.csv
exp2_atencao_espacial/checkpoints/*
exp2_atencao_espacial/models/*
exp2_atencao_espacial/results/*.csv
exp3_reranking/checkpoints/*
exp3_reranking/models/*
exp3_reranking/results/*.csv



